.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px; 
    width: 1440px;
    height: 696px;
    padding: 24px 156px;
}

ul {
    list-style-type: none;
}

.gallery .gallery-item:hover,
.gallery .gallery-item:focus {
    /* border-color: #404bbf; */
    transform: scale(1.1);
}

.gallery .gallery-item {
cursor: pointer;
transition: transform 250ms ease-in-out;
}